@import "tailwindcss";

/* Tarayýcý varsayýlanlarýný sýfýrla */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #020617; /* Dashboard arka plan rengi */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar'ý daha modern ve ince yapalým */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #334155;
    }

/* Input ve Select odaklanma efektlerini düzelt */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Karanlýk modda takvim ikonunu beyaz yapar */
    cursor: pointer;
}
